#description_input {
    color: #000000;
    background: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    transition: .3s;
    text-decoration: none;
    display: inline-block;
    width: 700px;
    height: 30px;
    line-height: 20px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
}

#title_input {
    color: #000000;
    background: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    transition: .3s;
    text-decoration: none;
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 20px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
}
#add {
    color: #000000;
    background: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    transition: .3s;
    text-decoration: none;
    display: inline-block;
    width: 110px;
    height: 30px;
    line-height: 20px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
}

#add:hover {
    background: rgb(52, 174, 255);
    color: rgb(0, 0, 0);
    transform: translateY(-7px);
}

#cancel {
    color: #000000;
    background: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    transition: .3s;
    text-decoration: none;
    display: inline-block;
    width: 110px;
    height: 30px;
    line-height: 20px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
}

#cancel:hover {
    background: rgb(52, 174, 255);
    color: rgb(0, 0, 0);
    transform: translateY(-7px);
}


#add_movie_form {
    background-color: cornflowerblue;

}