.movie_list_class {
   
   min-width: 100px;
   min-height: 100px;

}
.movie{
    background-color: pink;
    margin:10px;
    display:flex;
    justify-content: space-between;
}
#movie_list {
    
}
.movie_title{

}
.movie_delete_button{

}