.movie_list_class {

    min-width: 100px;
    min-height: 100px;

}

.movie {
    background-color: rgb(161, 165, 206);
    margin: 10px;
    display: flex;
    justify-content: stretch;
}

.movie_delete_button {
    background-color: rgb(52, 174, 255);
    border: none;
    /*без границ */
    color: white;
    /* белая иконка */
    padding: 14px 14px;
    cursor: pointer;
    /* Mouse pointer on hover */
}

.movie_delete_button:hover {
    background-color: cornflowerblue;
    /* при наведении мышкой */
}

.movie_change_button {
    background-color: rgb(52, 174, 255);
    border: none;
    /*без границ */
    color: white;
    /* белая иконка */
    padding: 14px 14px;
    cursor: pointer;
    /* Mouse pointer on hover */
}

.movie_change_button:hover {
    background-color: cornflowerblue;
    /* при наведении мышкой */
}

.favorite_movie {
    background-color: rgb(52, 174, 255);
    border: none;
    /*без границ */
    color: white;
    /* белая иконка */
    padding: 14px 14px;
    cursor: pointer;
    /* Mouse pointer on hover */
}

.favorite_movie:hover {
    background-color: cornflowerblue;
    /* при наведении мышкой */
}

.favorite_movie_2 {
    background-color: rgb(52, 174, 255);
    border: none;
    color: red;
    padding: 14px 14px;
    cursor: pointer;
    /* при нажатии мышкой */
}

.favorite_movie_2:hover {
    background-color: cornflowerblue;
    /* при наведении мышкой */
}

#movie_list_form {
    background-color: cornflowerblue;

}

#movie__list_button {
    text-decoration: none;
    display: inline-block;
    width: 180px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #000000;
    background: rgb(255, 255, 255);
    box-shadow: 0 20px 30px rgba(0, 0, 0, .1);
    transition: .3s;
}

#movie__list_button:hover {
    background: rgb(52, 174, 255);
    color: rgb(0, 0, 0);
    transform: translateY(-7px);
}

#favorite_movie__list_button {
    text-decoration: none;
    display: inline-block;
    width: 180px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #000000;
    background: rgb(255, 255, 255);
    box-shadow: 0 20px 30px rgba(0, 0, 0, .1);
    transition: .3s;
}

#favorite_movie__list_button:hover {
    background: rgb(52, 174, 255);
    color: rgb(0, 0, 0);
    transform: translateY(-7px);
}


#add {
    color: #000000;
    background: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    transition: .3s;
    text-decoration: none;
    display: inline-block;
    width: 110px;
    height: 30px;
    line-height: 20px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
}

#add:hover {
    background: rgb(52, 174, 255);
    color: rgb(0, 0, 0);
    transform: translateY(-7px);
}

#id_input {
    color: #000000;
    background: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    transition: .3s;
    text-decoration: none;
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 20px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
}

#description_input {
    color: #000000;
    background: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    transition: .3s;
    text-decoration: none;
    display: inline-block;
    width: 110px;
    height: 30px;
    line-height: 20px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
}

#title_input {
    color: #000000;
    background: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    transition: .3s;
    text-decoration: none;
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 20px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
}

#id_input1 {
    color: #000000;
    background: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    transition: .3s;
    text-decoration: none;
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 20px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
}

#description_input1 {
    color: #000000;
    background: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    transition: .3s;
    text-decoration: none;
    display: inline-block;
    width: 110px;
    height: 30px;
    line-height: 20px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
}

#title_input1 {
    color: #000000;
    background: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    transition: .3s;
    text-decoration: none;
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 20px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
}

#change {
    color: #000000;
    background: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    transition: .3s;
    text-decoration: none;
    display: inline-block;
    width: 110px;
    height: 30px;
    line-height: 20px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
}

#change:hover {
    background: rgb(52, 174, 255);
    color: rgb(0, 0, 0);
    transform: translateY(-7px);
}
#change_movie_form {
    background-color: cornflowerblue;

}
#add_movie_form {
    background-color: cornflowerblue;

}

#forms {
    display: none;
    background: rgb(255, 255, 255);
}

form.active {
    display: block;
}

form.add_movie {
    width: 700px;
}

form.change_movie {
    width: 700px;
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 20px 20px;
}

a:hover {
    background-color: cornflowerblue;
    color: rgb(255, 255, 255);
}

.previous_page {
    background-color: rgb(52, 174, 255);
    color: rgb(255, 255, 255);
    border: none;
    padding: 14px 14px;
    cursor: pointer;
}

.next_page {
    background-color: rgb(52, 174, 255);
    color: rgb(255, 255, 255);
    border: none;
    padding: 14px 14px;
    cursor: pointer;
}
.pages {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: right;
  }
