#authorization {
    background-color: cornflowerblue;

}
#log_in {
    color: #000000;
    background: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    transition: .3s;/* анимация   */
    display: inline-block;/*  позволяет задать размеры и нет разрыва строки после элемента */
    width: 100px;
    height: 30px;
    line-height: 20px;/* межстрочный интервал  */
    border-radius: 45px;/* скругленные углы */
    margin: 20px 20px; /* внешний отступ  */
    font-family: 'Montserrat', sans-serif;/* шрифт  */
    font-size: 11px;/* размер шрифта  */
    text-transform: uppercase;/* верхний регистр  */
    text-align: center; /*расположение текста*/
    letter-spacing: 3px; /*  расстояние между буквами*/
    font-weight: bold; /* начертание шрифта*/
}

#log_in:hover {
    background: rgb(52, 174, 255);
    color: rgb(0, 0, 0);
    transform: translateY(-7px);
}

#registration {
    color: #000000;
    background: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    transition: .3s;/* анимация   */
    display: inline-block;/*  позволяет задать размеры и нет разрыва строки после элемента */
    width: 300px;
    height: 30px;
    line-height: 20px;/* межстрочный интервал  */
    border-radius: 45px;/* скругленные углы */
    margin: 20px 20px; /* внешний отступ  */
    font-family: 'Montserrat', sans-serif;/* шрифт  */
    font-size: 11px;/* размер шрифта  */
    text-transform: uppercase;/* верхний регистр  */
    text-align: center; /*расположение текста*/
    letter-spacing: 3px; /*  расстояние между буквами*/
    font-weight: bold; /* начертание шрифта*/
}

#registration:hover {
    background: rgb(52, 174, 255);
    color: rgb(0, 0, 0);
    transform: translateY(-7px);
}

#username {
    color: #000000;
    background: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    transition: .3s;
    text-decoration: none;
    display: inline-block;
    width: 150px;
    height: 30px;
    line-height: 20px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-align: center;
    letter-spacing: 3px;
    font-weight: bold;
}

#password {
    color: #000000;
    background: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    transition: .3s;
    text-decoration: none;
    display: inline-block;
    width: 150px;
    height: 30px;
    line-height: 20px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-align: center;
    letter-spacing: 3px;
    font-weight: bold;
}

