



#information_movie_form {
    background-color: cornflowerblue;

}
#id_input1 {
    color: #000000;
    background: white;
    transition: .3s;
    text-decoration: none;
    display: inline-block;
    width: 500px;
    height: 30px;
    line-height: 20px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
}

#description_input1 {
    color: #000000;
    background: white;
    transition: .3s;
    text-decoration: none;
    display: inline-block;
    width: 500px;
    height: 30px;
    line-height: 20px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
}

#title_input1 {
    color: #000000;
    background: white;
    transition: .3s;
    text-decoration: none;
    display: inline-block;
    width: 500px;
    height: 30px;
    line-height: 20px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
}
#poster {
    
    transition: .3s;
    text-decoration: none;
    display: inline-block;
    width: 180px;
    height: 180px;
    line-height: 20px;
    border-radius: 45px;
    margin: 10px 20px;
    letter-spacing: 3px;
    font-weight: 600;
}
.image {
    
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    transition: .3s;
    text-decoration: none;
    display: inline-block;
    width: 200px;
    height: 200px;
    line-height: 20px;
    border-radius: 45px;
    margin: 10px 20px;
    letter-spacing: 3px;
    font-weight: 600;
}
#images{
    flex-direction: row;/* слева направо */
    flex-wrap: wrap; /* перенос на новую строку */
    justify-content:  flex-start;/* картинки равномерно с расстоянием между ними */
    width: 90%;
    display: flex;
    border-radius: 45px;
}
.button{
    color: #000000;
    background: white;
    width: 200px;
    height: 50px;
    line-height: 20px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
}
#edit{
    color: #000000;
    background: white;
    width: 200px;
    height: 50px;
    line-height: 20px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    display:none;
}
.button:hover {
    background: rgb(52, 174, 255);
    color: rgb(0, 0, 0);
    transform: translateY(-7px);
}
